#header {
    background-image: url(../images/header.png);
    height: 100px;
    background-position: center top;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

div#ajax-wrapper {
    position: fixed;
    _position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.75);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000, endColorstr=#C0000000)";
}

div#ajax-wrapper div#loader {
    background-image: url(../images/ajax.gif);
    height: 64px;
    width: 64px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    margin-top: 200px;
}
